<div class="container-fluid" id="main-container">
    <div class="button-container text-center">
        <!--Add click function-->
        <button type="button" (click)="openModal(null, 'add')" data-toggle="modal" data-target="#addBook" mat-raised-button class="button">Add Book<mat-icon class="float-right">note_add</mat-icon></button>
        <form class="form-inline" id="search">
            <input type="search" (ngModelChange)="searchBooks(key.value)" id="searchName" class="form-control" #key="ngModel" ngModel name="key" placeholder="Search books..." required>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Year Published</th>
                    <th>ISBN</th>
                    <th>Genre</th>
                    <th>Still Reading</th>
                    <th>Pages Read</th>
                    <th>Number of Pages</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let book of books">
                <tr>
                    <td>{{book.id}}</td>
                    <td>{{book.bookTitle}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.yearPublished}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.genre}}</td>
                    <td>{{book.stillReading | stillReadingPipe}}</td>
                    <td>{{book.pagesRead}}</td>
                    <td>{{book.pages}}</td>
                    <td><button type="button" (click)="openModal(book, 'edit')"
                            (click)="getProgress(book)" data-toggle="modal" data-target="#editBook"
                            style="margin-right: 5px;" color="accent" mat-mini-fab><mat-icon>edit</mat-icon></button>
                        <button type="button" (click)="openModal(book,'delete')" data-toggle="modal"
                            data-target="#deleteBook" color="warn" mat-mini-fab><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--EDIT MODAL BOX-->
    <div *ngIf="editModalBox" class="modal fade" id="editBook" tabindex="-1" role="dialog"
        aria-labelledby="editBookLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--FORM HEADER-->
                <div class="modal-header" style="vertical-align: middle;">

                    <h5 class="modal-title" id="editBookLabel">Edit Book:
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><mat-icon>close</mat-icon></span>
                    </button>

                </div>
                <!--FORM-->
                <div class="modal-body">

                    <form #editForm="ngForm" >
                        <!--TITLE AND AUTHOR-->
                        <div class="form-group">
                            <label for="bookTitle">Book Title:</label>
                            <input type="text" [(ngModel)]="editBook.bookTitle" name="bookTitle" class="form-control"
                                id="bookTitle" aria-describedby="" placeholder="Book Title">
                            <label for="author">Author:</label>
                            <input type="text" [(ngModel)]="editBook.author" name="author" class="form-control"
                                placeholder="Author">
                        </div>
                        <!--HIDDEN-->
                        <input type="hidden" [(ngModel)]="editBook.id" name="id" class="form-control" id="id">
                        <!--GENRE-->
                        <div class="form-group">
                            <label for="genre">Genre:</label>
                            <select class="form-control" id="genre" [(ngModel)]="editBook.genre" name="genre" >
                                <option name="genre" *ngFor="let genre of genreType" [selected]="genre === editBook.genre">{{genre}}</option>
                            </select>
                        </div>
                        <!--YEAR PUBLISHED-->
                        <div class="form-group">
                            <label>Year Published:</label>
                            <input type="text" maxlength="4" [(ngModel)]="editBook.yearPublished" name="yearPublished"
                                class="form-control" placeholder="Year Published">
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" [(ngModel)]="editBook.stillReading"
                                    id="stillReading" name="stillReading" [value]="true">
                                <label class="form-check-label" for="stillReading">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" [(ngModel)]="editBook.stillReading"
                                    id="stillReading2" name="stillReading" [value]="false" >
                                <label class="form-check-label" for="stillReading2">False</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pages">Number of Pages</label>
                            <input type="number" [(ngModel)]="editBook.pages" name="pages" class="form-control"
                                placeholder="Pages">
                        </div>
                        <div class="form-group">
                            <label for="pagesRead">Pages Read</label>
                            <input type="number" [(ngModel)]="editBook.pagesRead" name="pagesRead" class="form-control"
                                placeholder="Pages Read">
                        </div>
                        <div class="form-group">
                            <label for="isbn">ISBN:</label>
                            <input type="number" [(ngModel)]="editBook.isbn" name="isbn" class="form-control"
                                placeholder="ISBN">
                        </div>

                    </form>
                    <label>Progress: {{progress}}%</label>
                    <mat-progress-bar mode="determinate" value="{{progress}}"></mat-progress-bar>
                </div>
                <div class="modal-footer">
                    <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                    <button (click)="onUpdateBook(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                        Changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--DELETE MODAL BOX-->
    <div *ngIf="deleteModalBox" class="modal fade" id="deleteBook" tabindex="-1" role="dialog"
        aria-labelledby="deleteBookLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteBookLabel" style="font-weight: bold; font-size: medium;">Delete
                        Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><mat-icon>close</mat-icon></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are your sure you want to delete the book: "{{deleteBook.bookTitle | uppercase}}" ?</p>
                    <!--FORM FOOTER-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button (click)="onDeleteBook(deleteBook.id)" class="btn btn-danger"
                            data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ADD BOOK MODAL-->
    <div *ngIf="addModalBox" class="modal fade" id="addBook" tabindex="-1" role="dialog" aria-labelledby="addBookLabel"
        data-toggle="modal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                    <h3 class="modal-title" id="addBookLabel" >Add Book</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><mat-icon>close</mat-icon></span>
                    </button>
                </div>
                <div class="modal-body" id="addForm">
                    <form #addForm="ngForm" (ngSubmit)="onAddBook(addForm)">
                        <div class="row">
                            <div class="col">
                                <label for="bookTitle">Book Title:</label>
                                <input type="text" ngModel name="bookTitle" class="form-control" id="bookTitle" placeholder="The Hobbit" required>
                            </div>
                            <div class="col">
                                <label for="author">Author:</label>
                                <input type="text" ngModel name="author" class="form-control" id="author" placeholder="J.R.R. Tolkien" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="isbn">ISBN:</label>
                                <input type="tel" maxlength="13" ngModel name="isbn" class="form-control" id="isbn" placeholder="9780547928241" required>
                            </div>
                            <div class="col">
                                <label for="yearPublished">Year Published:</label>
                                <input type="tel" maxlength="4" ngModel name="yearPublished" class="form-control" id="yearPublished" placeholder="2012" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="pagesRead">Pages Read:</label>
                                <input type="tel" maxlength="5" ngModel name="pagesRead" class="form-control" id="pagesRead" placeholder="320" required>
                            </div>
                            <div class="col">
                                <label for="pages">Number of Pages:</label>
                                <input type="tel" maxlength="5" ngModel name="pages" class="form-control" id="pages" placeholder="320" required>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <label for="genre" class="float-left">Genre:</label>
                                <select class="form-control" id="genre" ngModel name="genre">
                                    <option name="genre" *ngFor="let genre of genreType">{{genre}}</option>
                                </select>
                            </div>
                            <div class="col" style="justify-content:center;" >
                                <label class="float-left">Still Reading:</label>
                                <div class="form-check form-check-inline" id="still">
                                    <input class="form-check-input" type="radio" ngModel name="stillReading" id="stillReading" value="true" required>
                                    <label class="form-check-label" for="stillReading">True</label>
                                </div>
                                <div class="form-check form-check-inline" id="still">
                                    <input class="form-check-input" type="radio" ngModel name="stillReading" id="stillReading2" value="false" required>
                                    <label class="form-check-label" for="stillReading2">False</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-book-form" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add Book</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>